
<!-- <nav>
  <%- nav %>
</nav> -->
  <section id="views">
    <h1><%= vehicle.inv_make %> <%= vehicle.inv_model %></h1>
    <img src="/images/vehicles/<%= vehicle.inv_image %>" alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %> on CSE Motors">
    <h2>Year: <%= vehicle.inv_year %></h2>
    <h2>Price: $<%= new Intl.NumberFormat('en-US').format(vehicle.inv_price) %></h2>
    <h2>Mileage: <%= new Intl.NumberFormat('en-US').format(vehicle.inv_miles) %> miles</h2>
    <h2>Color: <%= vehicle.inv_color %></h2>
    <p><%= vehicle.inv_description %></p>
    
  </section>
